snippet html
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>${1}</title>
	</head>
	<body>
		${2}
	</body>
	<script>
		${3}
	</script>
</html>
${0}
endsnippet

snippet p
<p>${1}</p>${0}
endsnippet

snippet a
<a href="${2}" ${3}>${1}</a>${0}
endsnippet

snippet img
<img src="${1}" ${2}/>${0}
endsnippet


