snippet servlet
<servlet>
	<description>${1}</description>
	<display-name>${2}</display-name>
	<servlet-name>${3}</servlet-name>
	<servlet-class>${4}</servlet-class>
</servlet>
${0}
endsnippet

snippet servlet-mapping
<servlet-mapping>
	<servlet-name>${1}</servlet-name>
	<url-pattern>/${2}</url-pattern>
</servlet-mapping>
${0}
endsnippet
